.main {
  width: 80%;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap; */
}

.portfolios {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.my-portfolios h1 {
  text-align: center;
}

.portfolio {
  border: 1px solid #76BAF0;
  padding: 10px;
  text-align: center;
  /* width: 50%; */
  margin-right: 10px;
  border-radius: 20px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  display: inline-block;
  border: 1px solid #76BAF0;
  margin: 10px;
  border-radius: 20px;
  width: 350px;
  min-height: 120px;
  padding: 10px;
  background-color: #BFDBF2;
}
.skill-card h3 {
  color: #5C91BD;
}

.target-skill {
  border: 1px solid #76BAF0;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: #DFF097;
}
