.main {
  width: 80%;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap; */
}

.portfolios {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.my-portfolios h1 {
  text-align: center;
}

.portfolio {
  border: 1px solid #76BAF0;
  padding: 10px;
  text-align: center;
  /* width: 50%; */
  margin-right: 10px;
  border-radius: 20px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  display: inline-block;
  border: 1px solid #76BAF0;
  margin: 10px;
  border-radius: 20px;
  width: 350px;
  min-height: 120px;
  padding: 10px;
  background-color: #8ED0F5;
    /* background-color: #BFD0F5; */
}
.skill-card h3 {
  color: #304E5C;
}

.target-skill {
  border: 1px solid #76BAF0;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: #8A9DA8;
  /* background-color: #BFD0F5; */
}



.app-lists {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-width: 160px;
  font-size: 20px;
}

.app-list {
  text-decoration: none;
  color: #4B575C;
  user-select: none;
}

.app-list:hover {
  background-color: #B4CFDB;
  color: #ffffff;
}
